APP_NAME = FitForGit
RUN_USER = git
RUN_MODE = prod

[database]
DB_TYPE  = sqlite3
PATH     = data/gogs.db

[repository]
ROOT = /home/{{ gogs_user }}/repos

[server]
DOMAIN           = {{ ansible_hostname }}
HTTP_ADDR        = 127.0.0.1
HTTP_PORT        = {{ gogs_port }}
ROOT_URL         = http://{{ ansible_hostname }}/
DISABLE_SSH      = false
SSH_PORT         = 22
START_SSH_SERVER = false
OFFLINE_MODE     = true
LANDING_PAGE     = explore

[mailer]
ENABLED = false

[service]
REGISTER_EMAIL_CONFIRM = false
ENABLE_NOTIFY_MAIL     = false
DISABLE_REGISTRATION   = false
ENABLE_CAPTCHA         = false
REQUIRE_SIGNIN_VIEW    = false

[picture]
DISABLE_GRAVATAR        = true
ENABLE_FEDERATED_AVATAR = false

[session]
PROVIDER = file

[log]
MODE      = file
LEVEL     = Info
ROOT_PATH = /home/git/gogs/log

[security]
INSTALL_LOCK = true
SECRET_KEY   = Dtwux2joNXHZA85

